body{
    margin: 0%;
    font-family: 'Noto Serif JP', serif;  
}
h1{
    font-size: 50px;
}
.name-coloring{
    color:deeppink
}
h3{
    color: deeppink;
}
p{
    color: gray;
}
section{
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5% ;
    padding-left:2% ;
}
.half-width img{
    width: 90%;
}
.anchor-button{
    background-color: deeppink;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: 500;
    color: white;
}
.adding-background-color{
    background-color: grey;
}
